<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'row row-cols-lg-auto g-3 align-items-center' }) do |f| %>
  <div class="col-12">
    <div class="form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'floatingInput' %>
      <%= f.label :email %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', id: 'floatingInput' %>
      <%= f.label :password %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-light btn-lg' %>
  </div>
<% end %>
