<div class="modal-body">
  <div class="container container-form px-5 py-4">
    <%= form_with(model: @todo, data: { action: "ajax:success->todos#createSuccess" }) do |form| %>

      <div class="form-floating mb-3">
        <%= form.text_field :title, data: { target: "todos.todoTitle"}, class: 'form-control', id: 'floatingInput' %>
        <%= form.label :floatingInput, 'Title' %>
      </div>

      <div class="form-floating mb-3">
        <%= form.text_field :description, data: { target: "todos.todoDescription "}, class: 'form-control', id: 'floatingInput' %>
        <%= form.label :floatingInput, 'Description' %>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <div class="form-group">
    <%= form.submit class: 'btn btn-primary save-todo' %>
  </div>
  <% end %>
</div>
